.sort-ascent:before {
    font-family: FontAwesome;
    font-size: x-small;
    content: '\f077';
}

.sort-descent:before{
    font-family: FontAwesome;
    font-size: x-small;
    content: '\f078';
  }

.sort-none:before{
    font-family: FontAwesome;
    font-size: x-small;
    content: '\f111'
}

.width-auto {
    width: inherit;
}

/*form > .ng-pristine {
	border: 1px solid yellow;
}

form > .ng-dirty {
	border: 1px solid fuchsia;
}

form > .ng-valid {
	border: 1px solid green;
}

form > .ng-invalid {
	border: 1px solid red;
}

form > oi-multiselect.ng-pristine {
	border: 1px solid yellow;
}

form > oi-multiselect.ng-dirty {
	border: 1px solid fuchsia;
}

form > oi-multiselect.ng-valid {
	border: 1px solid green;
}

form > oi-multiselect.ng-invalid {
	border: 1px solid red;
}

.form-horizontal input.ng-invalid.ng-touched {
	border: red solid 1px;
}

.form-horizontal input.ng-valid.ng-touched {
	border: green solid 1px;
}*/