<section class="content-header" data-ng-init="rhe.getEmpleado()">
    <h1>Recursos Humanos<small>Empleados</small></h1>
    <ol class="breadcrumb">
        <li><a href="./"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="rh/"><i class="fa fa-male"></i> Recursos Humanos</a></li>
        <li><a href="rh/empleados"><i class="fa fa-users"></i> Empleados</a></li>
        <li class="active"><i class="fa fa-user "></i> {{rhe.empleado._id}}</li>
    </ol>
</section>
<section class="content">
    <div class="row">
		<div class="col-xs-8">
			<div class="box">
                <div class="box-header with-border">
                    <h2 class="box-title">{{rhe.empleado.nombres}} {{rhe.empleado.apellidos}} <small>({{rhe.empleado._id}})</small></h2>
                    <div class="box-tools pull-right">
	                    <a role="button" data-ng-class="{'btn btn-success btn-xs active':rhe.empleado.activo, 'btn btn-danger btn-xs　active':!rhe.empleado.activo}">
                        	<i data-ng-class="{'fa fa-smile-o' : rhe.empleado.activo, 'fa fa-frown-o text-muted' : !rhe.empleado.activo}"></i> {{rhe.empleado.activo ? 'Activo' : ' Inactivo'}}
	                    </a>
                    </div>
                </div>
				<div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Informaci&oacute;n General</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="box-body">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="inputId" class="col-sm-4 control-label">ID:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputId" data-ng-model="rhe.empleadoEdit._id" readonly="readonly" />
                                                        </div> 
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputNoEmpleado" class="col-sm-4 control-label">No. Empleado:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputNoEmpleado" data-ng-model="rhe.empleadoEdit.no_empleado" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputApellidos" class="col-sm-4 control-label">Apellidos:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputApellidos" data-ng-model="rhe.empleadoEdit.apellidos" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputNombres" class="col-sm-4 control-label">Nombre(s):</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputNombres" data-ng-model="rhe.empleadoEdit.nombres" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputCategoria" class="col-sm-4 control-label">Categoria:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputCategoria" data-ng-model="rhe.empleadoEdit.categoria" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputExtUser" class="col-sm-4 control-label">Usuario Externo:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputExtUser" data-ng-model="rhe.empleadoEdit.ext_user" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail" class="col-sm-4 control-label">Correo Electr&oacute;nico:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputEmail" data-ng-model="rhe.empleadoEdit.email" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmailAlt" class="col-sm-4 control-label">Usuario Externo:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputEmailAlt" data-ng-model="rhe.empleadoEdit.email_alt" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputMovil" class="col-sm-4 control-label">M&oacute;vil:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputMovil" data-ng-model="rhe.empleadoEdit.movil" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
													<div class="form-group">
                                                        <label for="inputMovilvpn" class="col-sm-4 control-label">M&oacute;vil VPN:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputMovilvpn" data-ng-model="rhe.empleadoEdit.movil_vpn" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputTelefono" class="col-sm-4 control-label">Tel&eacute;fono:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="inputTelefono" data-ng-model="rhe.empleadoEdit.telefono" data-ng-readonly="!rhe.empEditable"/>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-app bg-blue" role="button" href="#" data-ng-click="rhe.allowEditEmpleado()" data-ng-show="!rhe.empEditable">
                                                <i class="fa fa-pencil-square-o"></i>
                                                Editar
                                            </a>
                                            <a class="btn btn-app bg-red" role="button" href="#" data-ng-click="rhe.cancelEditEmpleado()" data-ng-show="rhe.empEditable">
                                                <i class="fa fa-times-circle"></i>
                                                Cancelar
                                            </a>
                                            <a class="btn btn-app bg-green" role="button" href="#" data-ng-click="" data-ng-show="rhe.empEditable">
                                                <i class="fa fa-floppy-o"></i>
                                                Guardar
                                            </a>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Informaci&oacute;n de Contratacion</h3>
                                </div>
                                <div class="box-body">
                                    BODY
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 row">
	        <div class="col-lg-12 col-xs-12">
		        <div class="small-box bg-yellow">
			        <div class="inner">
				        <h3>{{rhe.empleado.asignaciones.length}}</h3>
				        <p>Asignaciones</p>
			        </div>
					<div class="icon"><i class="fa fa-user-secret"></i></div>
					<a href="rh/empleados/{{rhe.empleado._id}}/asignaciones" class="small-box-footer">Detalle de Asignaciones <i class="fa fa-arrow-circle-right"></i></a>
		        </div>
	        </div>
        </div>
        <!--
        <div class="col-md-4">
            <ul class="timeline">
                <li class="time-label">
                    <div class="btn-group" rol="group">
                        <a href="rh/empleados/{{rhe.empleado._id}}/asignaciones" role="button" class="btn btn-warning">Asignaciones - {{rhe.getCurrentDate() | date: 'dd MMM yyyy'}}</a>
                        <a href="asignaciones/new" role="button" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                    </div>
                </li>
                <li data-ng-repeat="asignacion in rhe.asignaciones">
                    <i class="fa fa-briefcase bg-blue"></i>
                    <div class="timeline-item">
	                    <span class="time"><i class="fa fa-calendar"></i> {{asignacion.fecha_ini | date: 'dd MMM yyyy'}} - {{asignacion.fecha_fin | date: 'dd MMM yyyy'}}</span>
	                    <h3 class="timeline-header">{{rhe.EQUIPOS_TRABAJO_CAT[asignacion.equipo_trabajo]}}</h3>
	                    <div class="timeline-body">
		                    <h4>{{rhe.ROLES_CAT[asignacion.rol_id]}}</h4>
			                <h5>{{rhe.ROL_NIVELES_CAT[asignacion.rol_nivel]}}</h5>
	                    </div>
	                    <div class="timeline-footer" style="text-align: right;">
		                    <a class="btn btn-warning btn-xs"><i class="fa fa-info-circle"></i> Detalle</a>
	                    </div>
                    </div>
                </li>
                <li>
                	<i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div> -->
    </div>
</section>