<section class="content-header">
    <h1>Recursos Humanos</h1>
    <ol class="breadcrumb">
        <li>
          <a ng-href="./"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="active"><i class="fa fa-male"></i> Recursos Humanos</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Empleados</span>
                    <span class="info-vox-number">{{rh.empleados_count}}</span>
                </div>
            </div>
        </div>
		<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-building"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">COnsultoras</span>
                    <span class="info-vox-number">{{rh.consultoras_count}}</span>
                </div>
            </div>
        </div>
    </div>
    
</section>